<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBbrzUzBS26TzKJy8enLLw_L8wO2t8N0cA</string>
	<key>GCM_SENDER_ID</key>
	<string>779488788437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JRomero.PHONE-DOWN</string>
	<key>PROJECT_ID</key>
	<string>phone-down-63a60</string>
	<key>STORAGE_BUCKET</key>
	<string>phone-down-63a60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779488788437:ios:9e82596a5c7728fd30475c</string>
</dict>
</plist>